
@{
    ViewBag.Title = "Map";
    Layout = "~/Views/_LayoutUser.cshtml";
}


<div class="search_place">
    <div class="map-search">
        <span>Bán kính tìm kiếm (đv: mét)</span>
        <input class="input-radius" type="text" value="500">
        <button class="search-by-radius" onclick="search_locale()"><i class="fa fa-search"></i> Tìm</button>
        <div id="mapholder"></div>

    </div>
</div>
<div class="nav-text">
    <ol>
        <li><a href="home.html">Trang chủ</a></li>
        <li id="arrow1">  <i class="fa fa-angle-right"></i>  </li>
        <li class="active" id="search-target">Nhà cho thuê, Chung cư cho thuê, mặt bằng cho thuê...</li>
    </ol>
</div>
<section class="wrap-content">
    <div class="content" id="content1">
        <div class="content-left col-xs-12 col-sm-5 col-md-4">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/images/img-p1/1.jpg" alt="anh1" style="width:100%;">
                    </div>
                    <div class="item">
                        <img src="~/images/img-p1/2.jpg" alt="anh2" style="width:100%;">
                    </div>
                    <div class="item">
                        <img src="~/images/img-p1/3.jpg" alt="anh3" style="width:100%;">
                    </div>
                    <div class="item">
                        <img src="~/images/img-p1/4.jpg" alt="anh3" style="width:100%;">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="content-right col-xs-12 col-sm-7 col-md-8">
            <div class="content-right1 col-xs-12 col-md-8">
                <div class="item-cr1 title">
                    <a data-toggle="collapse" data-target="#content-detail1">NHÀ TÔI CHÍNH CHỦ CHO THUÊ PHÒNG TRỌ TẠI SỐ 3/108 NGUYỄN TRÃI - THƯỢNG ĐÌNH -THANH XUÂN</a>
                </div>
                <div class="item-cr1 summarize-desc">
                    <p>Nhà tôi chính chủ còn 1 phòng trống cần cho thuê gấp vào ở được ngay, tại địa chỉ số 3/108 Nguyễn Trãi, Thượng Đình, Thanh Xuân, Hà Nội cách nhà nghỉ Thanh Trà 2: 10m.</p>
                </div>
                <div class="item-cr1 local">Khu vực: <span>Quận Thanh Xuân, Hà Nội</span></div>
                <div class="item-cr1 area">Diện tích: <span>45m²</span></div>
                <div class="item-cr1 date">Ngày đăng: <span>19/05/2017</span></div>
            </div>
            <div class="content-right2 col-xs-12 col-md-4">
                <p class="hide_op">GIÁ DỊCH VỤ:</p>
                <ul>
                    <li class="item-cr1 water-price hide_op"><i class="fa fa-shower"></i> Nước: <span>25.000/m3</span></li>
                    <li class="item-cr1 electric-price hide_op"><i class="fa fa-bolt"></i> Điện: <span>3.500/số</span></li>
                    <li class="item-cr1 internet-price hide_op"><i class="fa fa-wifi"></i> Mạng: <span>50.000/tháng</span></li>
                    <li class="item-cr1 park-price hide_op"><i class="fa fa-motorcycle"></i> Gửi xe: <span>Free</span></li>
                    <li class="item-cr1 price"><i class="fa fa-money"></i> Phòng: <span>1.5tr/tháng</span></li>
                    <li class="item-cr1 phone"><i class="fa fa-phone"></i> LH: <span>0988870225</span></li>
                </ul>
                <button class="button-detail" data-toggle="collapse" data-target="#content-detail1"><i class="fa fa-arrow-right"></i> Xem chi tiết</button>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <!--Thông tin xem chi tiết-->
        <article id="content-detail1" class="content-detail collapse">
            <div class="menu-detail">
                <!-- Navs Tabs-->
                <button class="btn-close button-detail" data-toggle="collapse" data-target="#content-detail1">
                    <i class="fa fa-times"></i> Đóng
                </button>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#menu1">THÔNG TIN CHUNG</a></li>
                    <li><a data-toggle="tab" href="#menu2">MÔ TẢ CHI TIẾT</a></li>
                    <li><a data-toggle="tab" href="#menu3">HÌNH ẢNH</a></li>
                    <li><a data-toggle="tab" href="#menu5">ẢNH 360<sup>o</sup></a></li>
                    <li class="position item1"><a data-toggle="tab" href="#menu4">VỊ TRÍ</a></li>
                </ul>
                <!-- Content navs tabs-->
                <div class="tab-content">
                    <div id="menu1" class="tab-pane fade in active" style="overflow-x:auto;">
                        <table id="detail-item1" class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td style="font-weight: bold">Địa chỉ</td>
                                    <td colspan="3">Số 3/108 Nguyễn Trãi, Thượng Đình, Thanh Xuân, Hà Nội</td>
                                </tr>
                                <tr>
                                    <th>Loại hình cho thuê</th>
                                    <td>Chung cư mini</td>
                                    <th>Ngày cập nhật</th>
                                    <td>20/05/2017</td>
                                </tr>
                                <tr>
                                    <th>Người đăng</th>
                                    <td>Trịnh Công Trình</td>
                                    <th>Điện thoại</th>
                                    <td>0868.97.91.93</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>congtrinh0209@gmail.com</td>
                                    <th>ADSDSDAS</th>
                                    <td>ddddddđ</td>
                                </tr>
                                <tr>
                                    <th>Diện tích</th>
                                    <td>40m2</td>
                                    <th>Giá cho thuê</th>
                                    <td>4 triệu/tháng</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <div id="detail-item2" class="des-detail-content">
                            <p>Nhà cao cấp giá bình dân chỉ 2tr5 bạn đã sở hữu 1 phòng sạch sẽ và an ninh nhất quận 9.Đến xem là mê liền * Giảm 10% cho bạn thuê phòng lần đầu tiên Hiện tại bên mình đang có phòng trọ cho thuê, mình xin mô tả thông tin như sau:<br>Địa chỉ: SỐ 3/108 Nguyễn Trãi, Thượng Đình, Thanh Xuân, Hà Nội.  Nhà gần chợ và siêu thị bạn thoải mái nấu những món ăn mà mình yêu thích nhé<br>- Gần các trường ĐH giao thông vận tải, ĐH sư phạm kĩ thuật thuận lợi cho các bạn sinh viên<br> - Gần nơi sầm uất như VINCOM PLAZA, siêu thị CoopMart, cây xăng Tân phú, bệnh viện quận 9....<br>- Toàn bộ phòng được lát gạch men nên phòng ốc rất sạch sẽ và cao cấp<br> Vì số lượng có hạn nên gọi ngay cho mình để đặt phòng nhé.(MS. HẰNG)</p>
                        </div>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <div id="detail-item3" class="image-item">
                            <div id="myCarousel2" class="carousel slide slide2" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel2" data-slide-to="1"></li>
                                    <li data-target="#myCarousel2" data-slide-to="2"></li>
                                    <li data-target="#myCarousel2" data-slide-to="3"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="~/images/img-p1/1.jpg" alt="anh1" style="width:100%;">
                                    </div>
                                    <div class="item">
                                        <img src="~/images/img-p1/2.jpg" alt="anh2" style="width:100%;">
                                    </div>
                                    <div class="item">
                                        <img src="~/images/img-p1/3.jpg" alt="anh3" style="width:100%;">
                                    </div>
                                    <div class="item">
                                        <img src="~/images/img-p1/4.jpg" alt="anh4" style="width:100%;">
                                    </div>
                                </div>
                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="menu4" class="tab-pane fade" style="position: relative;">
                        <div class="des-detail-content">
                            <p style="color: green">Click vào địa điểm để nhận chỉ đường!</p>
                            <div id="googleMap1" style="width:100%;height:400px;"></div>
                            <div class="right-panel right-panel1">
                                <select class="near_by_item">
                                    <option>Địa điểm lân cận</option>
                                    <option>Trường CĐ, ĐH</option>
                                    <option>Điểm buýt</option>
                                    <option>Bệnh viện</option>
                                    <option>Bãi gửi xe</option>
                                </select>
                                <ul class="places place1"></ul>
                            </div>
                        </div>
                    </div>
                    <div id="menu5" class="tab-pane fade">
                        <p style="color: green">Tính năng này hiện chỉ hỗ trợ trên Chrome Browser</p>
                        <div id="panorama1" class="panorama" style="width: 100%; height: 400px"></div>
                    </div>
                </div>
            </div>
        </article>
        <div class="clear"></div>
    </div>
</section>
<div class="pagination-container">
    <ul class="pagination">
        <li class="first"><a>First</a></li>
        <li class="page page_2 active"><a>1</a></li>
        <li class="page page_1"><a>2</a></li>
        <li class="page page0"><a>3</a></li>
        <li class="page page1"><a>4</a></li>
        <li class="page page2"><a>5</a></li>
        <li class="last"><a>Last</a></li>
    </ul>
</div>

<script src="~/js/locationmap.js"></script>
<script>
    function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 21.028511, lng: 105.804817 },
            zoom: 13,
            mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });
        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();
            if (places.length == 0) {
                return;
            }
            // Clear out the old markers.
            markers.forEach(function (marker) {
                marker.setMap(null);
            });
            markers = [];
            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };
                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: 'https://congtrinh0209.github.io/Du_anTN/IMG/position-marker.png',
                    title: place.name,
                    position: place.geometry.location,
                    draggable: true,
                }));
                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
            function moveMarker(map, marker) {
                marker.setPosition(new google.maps.LatLng(Lat, Lng));
                map.panTo(new google.maps.LatLng(Lat, Lng));
            };
        });

    }</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDUYFDaXnS0a217T0rP3xNrnqxuErZsD4&language=vi&region=vie&libraries=places&callback=initAutocomplete"
        async defer></script>