<article class="banner">
    <ul class="list-banner">
        <li class="list item1">
            <img class="logo-bg" src="/images/bg1.png">
            <span class="list-text ">
                <img src="/images/logo-option2png.png">
                <span class="name">TÌM PHÒNG CÙNG BẠN</span>
                <span class="slogan">Sứ mệnh của chúng tôi là mang đến sự hợp tác thoải mái giữa người cho thuê nhà và người đi thuê, vì lợi ích của cả hai bên.</span>
            </span>
        </li>
        <li class="list item2">
            <img class="logo-bg" src="/images/bg2.png">
            <span class="list-text room">
                <a href="#view"><img class="img-item" src="/images/room.png"></a>
                <span>PHÒNG CHO THUÊ</span>
            </span>
        </li>
        <li class="list item3">
            <img class="logo-bg" src="/images/bg2.png">
            <span class="list-text house">
                <a href="#view"><img class="img-item" src="/images/house.png"></a>
                <span>NHÀ CHO THUÊ</span>
            </span>
        </li>
        <li class="list item4">
            <img class="logo-bg" src="/images/bg2.png">
            <span class="list-text flat">
                <a href="#view"><img class="img-item" src="/images/flat.png"></a>
                <span>CHUNG CƯ</span>
            </span>
        </li>
        <li class="list item5">
            <img class="logo-bg" src="/images/bg2.png">
            <span class="list-text store">
                <a href="#view"><img class="img-item" src="/images/store.png"></a>
                <span>MẶT BẰNG CỬA HÀNG</span>
            </span>
        </li>
    </ul>
</article>
