@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutUser.cshtml";
}


<main class="wrapper" >
    <article class="main-content col-xs-12 col-md-9" style="width:100%">
        <div class="nav-text">
            <ol>
                <li><a href="home.html">Trang chủ</a></li>
                <li id="arrow1">  <i class="fa fa-angle-right"></i>  </li>
                <li class="active" id="search-target">Giới thiệu</li>
            </ol>
        </div>
        <section class="wrap-content">
            <div class="content">
                <div class="wrapper_padding">
                    <div id="primary" class="content-area">
                        <div id="content" class="site-content" role="main">
                            <article>
                                <header class="entry-header"><h1 class="entry-title">Giới thiệu</h1></header><!-- .entry-header -->
                                <div class="entry-content">
                                    <p>Với mong muốn xây dựng một trang web thật chuyên nghiệp chuyên cung cấp thông tin nhà trọ phòng trọ cho mọi người, khi mà ngày nay nhu cầu nhà trọ phòng trọ ngày càng tăng ở các thành phố lớn nhất là <strong>Hà Nội</strong> và <strong>TP. Hồ Chí Minh.</strong></p>
                                    <p>Đối với cách tiếp cận thông tin truyền thống đã không được truyền đến mọi người một cách kịp thời đúng lúc.</p>
                                    <p>Chính vì nắm bắt được tình hình thực tế đó mà chúng tôi đã thành lập website <strong>Timphongcungban.com</strong>&nbsp;với mong muốn trở thành một kênh truyền thông phổ biến nhà trọ, phòng trọ hữu ích cho mọi người.</p>
                                    <p>Nếu trước đây việc cho thuê nhà, cho thuê phòng trọ đều dán giấy đăng quảng cáo ở các nơi công cộng rất là mất vẽ mỹ quang đô thị. Thì ngày nay các bạn có thể đăng tin trên đây rất tiện lợi, với phương tiện truyền thông được phổ biến rộng rãi tin đăng của bạn sẽ được hàng ngàn người biết đến.</p>
                                    <p>Website ra đời sẽ góp phần giải quyết được các vấn đề thuê trọ hiện nay, và giúp mọi người tìm kiếm nhà trọ, chỗ ở phù hợp và dễ dàng. Hy vọng <strong>Timphongcungban.com</strong>&nbsp;sẽ là địa chỉ quen thuộc cho mọi người.</p>
                                    <p>Website với giao diện thân thiện dễ sử dụng và hướng đến người dùng, các chuyên mục được phân chia rất rõ ràng và tim kiếm tin đăng rất chi tiết.</p>
                                    <p>– Bạn có thể tìm phòng trọ nhà trọ, tìm người ở ghép, tìm nhà cho thuê theo:</p>
                                    <p style="padding-left: 30px;">+ Tỉnh thành như Hà Nội, TP.HCM, Đà Nẵng</p>
                                    <p style="padding-left: 30px;">+ Quận huyện, chuyên mục, theo giá, theo diện tích.</p>
                                    <p>– Đăng tin cho thuê phòng trọ, nhà trọ, nhà nguyên căn, cho thuê căn hộ chung cư với đầy đủ tính năng</p>
                                    <p style="padding-left: 30px;">+&nbsp;Chức năng Tìm quanh đây vô cùng tiện lợi, nhanh chóng và chính xác nhất với công nghệ Google Map định vị bạn mọi lúc mọi nơi</p>
                                    <p style="padding-left: 30px;">+&nbsp; Với mỗi thông tin được đăng lên người tìm phòng được cung cấp đầy đủ về phòng cho thuê, đặc biệt tự động hiển thị thông tin các Trường Đại học, Cao đẳng; Các tuyến xe bus gần kề rất hữu ích cho các bạn học sinh, sinh viên; cùng tính năng chỉ đường bạn sẽ không mất quá nhiều thời gian để tìm đến địa điểm cho thuê. </p>
                                    <p style="padding-left: 30px;">+&nbsp;Chức năng quản lý bài viết cho mỗi thành viên</p>
                                    <p><strong>Các dịch vụ chính:</strong></p>
                                    <p>– Đăng thông tin quảng cáo cho thuê phòng trọ, nhà trọ, thuê nhà nguyên căn, cho thuê căn hộ,..</p>
                                    <p>– Đăng banner quảng cáo.</p>
                                    <p>– Dịch vụ chụp ảnh tận nhà, miễn phí hoàn toàn cho chủ nhà trọ, phòng trọ, nhà &nbsp;nguyên căn.</p>
                                    <p>Chúng tôi luôn cố gắng đem lại những thông tin nhanh chóng và chính xác cho mọi người. Rất mong nhận được sự ủng hộ giúp đỡ của mọi người cùng nhau xây dựng một kênh thông tin truyền thông về nhà trọ.</p>
                                    <p style="text-align: right;"><strong>Kênh thông tin phòng trọ số 1 Việt Nam</strong></p>
                                </div><!-- .entry-content -->
                            </article><!-- #post-## -->

                        </div><!-- #content -->
                    </div><!-- #primary -->
                </div>
            </div>
        </section>
    </article>
    <div class="clear"></div>
</main>
