
        <div class="title-side">
            TIN TỨC
        </div>
        <div class="new-item" id="news2">
            <div class="news-img"><a><img src="~/images/img-news/img2.jpg"></a></div>
            <div class="news-detail"><a>Những điều cần biết khi tìm phòng trọ…</a></div>
            <div class="clear"></div>
        </div>
        <div class="new-item" id="news1">
            <div class="news-img"><a><img src="~/images/img-news/img1.jpg"></a></div>
            <div class="news-detail"><a>Ý tưởng kinh doanh nhà trọ, ngồi không mỗi tháng kiếm trăm triệu?</a></div>
            <div class="clear"></div>
        </div>
        <div class="new-item" id="news3">
            <div class="news-img"><a><img src="~/images/img-news/img3.jpg"></a></div>
            <div class="news-detail"><a>Vì sao chọn ngành 'hot' vẫn thất nghiệp?</a></div>
            <div class="clear"></div>
        </div>
        <div class="icon-s">
            <a href="@Url.Action("News","Motel")">
                <i class="fa fa-external-link-square"></i> &nbsp
                <span>Xem Thêm</span>
            </a>
        </div>
        <div class="clear"></div>

