@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutUser.cshtml";
}

<main class="wrapper" >
    <article class="main-content col-xs-12 col-md-9" style="width:100%">
        <div class="nav-text">
            <ol>
                <li><a href="home.html">Trang chủ</a></li>
                <li id="arrow1">  <i class="fa fa-angle-right"></i>  </li>
                <li class="active" id="search-target">Quy định sử dụng</li>
            </ol>
        </div>
        <section class="wrap-content">
            <div class="content">
                <div class="wrapper_padding">
                    <div id="primary" class="content-area">
                        <div id="content" class="site-content" role="main">
                            <article>
                                <header class="entry-header"><h1 class="entry-title">Quy định sử dụng</h1></header><!-- .entry-header -->
                                <div class="entry-content">
                                    <p><strong>Trước khi bạn đăng tin lên website. xin vui lòng đọc kỹ các quy định sau đây:</strong></p>
                                    <p>1. Không được đăng ký tài khoản và khai báo những thông tin giả mạo, đặt tên tài khoản phản cảm, thô tục</p>
                                    <p>2. Không được phép đăng tin liên quan đến các vấn đề mà pháp luật Việt Nam không cho phép.</p>
                                    <p>3. Không được đăng những bài viết, thông tin có nội dung vi phạm pháp luật: đả kích, bôi nhọ, chỉ trích hay bàn luận về chính trị, tôn giáo, phản động, kỳ thị văn hóa, dân tộc, cũng như vi phạm khác liên quan đến thuần phong mỹ tục của dân tộc Việt Nam.</p>
                                    <p>4. Tiêu đề và nội dung của tin đăng phải dùng tiếng Việt có dấu. Không được sử dụng từ ngữ thô tục, mất văn hoá.</p>
                                    <p>5. Tin đăng phải có địa chỉ liên lạc cụ thể không được cho địa chỉ sai. hay dùng thông tin địa chỉ của người khác</p>
                                    <p>6. Các bài viết không có nội dung hoặc nội dung không liên quan đến chuyên mục. Những bài viết này sẽ bị xóa mà không cần báo trước.</p>
                                    <p>7. Không tạo nhiều tài khoản để đăng tin, nếu chúng tôi phát hiện sẽ xóa và ban toàn bộ nick.</p>
                                    <p>8. Không được đăng quá nhiều tin trong ngày và không đăng tin có tiêu đề, nội dung tương tự nhau.</p>
                                    <p>9. Khi phát hiện tin đăng không đúng sự thật, hay chỗ cho thuê là dịch vụ hay cò nhà trọ, bạn vui lòng thông báo cho Ban quản trị biết để chúng tôi kịp thời xử lý.</p>
                                    <p>10. Những trường hợp cố tình spam, vi phạm nội quy nhiều lần thì chúng tôi sẽ cấm không cho bạn đăng tin và tất cả mọi tin đăng của bạn sẽ không được hiển thị trên <strong>Timphongcungban.com</strong></p>
                                    <p><strong>Tất cả các tin đăng sai phạm quy định trên sẽ bị xóa mà không cần thông báo trước.</strong></p>
                                    <p><strong>Chúng tôi không chịu trách nhiệm về nội dung các bài đăng trên website.</strong></p>
                                </div>
                            </article><!-- #post-## -->

                        </div><!-- #content -->
                    </div><!-- #primary -->
                </div>
            </div>
        </section>
    </article>
    <div class="clear"></div>
</main>
